<div id="footer">
      <div class="container">
        <p class="muted credit">Proudly Made By <span class="glyphicon glyphicon-console" aria-hidden="true"></span><a href="https://www.facebook.com/dan.volosnikov" target="_blank"> Dan Volosnikov</a></p>
      </div>
</div>
</div> <!--closing wrap-->