 <div class="jumbotron">
        <h1>VoteRator</h1>
        <h3>CREATE CUSTOM POLLS WITH LIVE RESULTS.</h3>
      </div>
   
   <!-- Begin different content -->   
          <div class="container">
            <form role="form" action="/login" method="post">
              <div class="form-group">
                <label for="first">Email</label>
                <!-- show any messages that come back with authentication -->
                <p class="email-error">
                <% if (message.length > 0) { %>
                <%= message %>
                <% } %> </p>
                <input type="text" class="form-control" id="email" name="email">
              </div>
              
              <div class="form-group">
                <label for="password" class="password-label">Password</label>
                <p class="password-error"></p>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <button type="submit" class="sbmt">LOGIN</button>
              <input type="button" onclick="location.href='https://google.com';" value="CONNECT WITH FACEBOOK" class="sbmt" />
            </form>    
        </div>
    </div> <!-- closing wrap-->    