 <div class="jumbotron">
        <h1>VoteRator</h1>
        <h3>CREATE CUSTOM POLLS WITH LIVE RESULTS.</h3>
      </div>
   
   <!-- Begin different content -->   
          <div class="container">
            <h3 id="change">Change Password</h3>
            <form role="form" action="/edit" method="post">
              <div class="form-group">
                <label for="password" class="password-label">Current Password</label> 
                <p class="current-error">
                <% if (message.length > 0) { %>
                <%= message %>
                <% } %></p>
                <input type="password" class="form-control" id="curpassword" name="curpassword">
              </div>
              <div class="form-group">
                <label for="password" class="password-label">New Password</label> 
                <p class="password-error"></p>
                <input type="password" class="form-control" id="newpassword" name="newpassword">
              </div>
              <button type="submit" class="sbmt">SAVE CHANGES</button>
           </form>    
        </div>
    </div> <!-- closing wrap-->    