 <div class="jumbotron">
        <h1>VoteRator</h1>
        <h3>CREATE CUSTOM POLLS WITH LIVE RESULTS.</h3>
      </div>
   
   <!-- Begin different content -->   
          <div class="container">
            <h3>You can delete your polls here</h3>
            <form role="form" action="" method="post"></form>    
        </div>
    </div> <!-- closing wrap-->    