<div class="jumbotron wigvam">
    <h1>VoteRator</h1>
    <h3>WHAT WOULD YOU LIKE TO DO NEXT?</h3>
    <h3><a id="yellow" href="/new">ADD POLL</a></h3>
    <h3><a id="orange" href="/mypolls">MY POLLS</a></h3>
  </div>
  

<div class="list"><h3>Select a poll to see the results and vote:</h3></div>