<!DOCTYPE html>

<html>
	<head>	
<% include ../partials/head %>
<link href="bootstrap/dist/css/newpoll.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>

<% include ../partials/secondnav %>
<% include ../partials/chartcontent %>    

        <script src="jquery/dist/jquery.min.js"></script>
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
		<script src="jquery/dist/chart.js"></script>
	</body>

</html>