<!DOCTYPE html>

<html>
	<head>	
<% include ../partials/head %>
<link href="bootstrap/dist/css/signup.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
		
<!-- Fixed navbar -->
<% include ../partials/secondnav %>
<script type="text/javascript">document.getElementById("edit").classList.add("active");</script>

<!-- Begin page content -->
<% include ../partials/formp %>    
        
        
        <script src="jquery/dist/jquery.js"></script>
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="jquery/dist/edit.js"></script>
	</body>

</html>