<!DOCTYPE html>

<html>
	<head>	
<% include ../partials/head %>
<link href="bootstrap/dist/css/main.css" rel="stylesheet" type="text/css">
	</head>
	
	<body>
<% if(!isAuthenticated){ %>
<% include ../partials/firstnav %>
<% include ../partials/firstcontent %>      
<% include ../partials/footer %> 

<% }else{ %>
<% include ../partials/secondnav %>
<% include ../partials/secondcontent %>
<% } %>

		<script src="jquery/dist/jquery.min.js"></script>
		<script src="bootstrap/dist/js/bootstrap.min.js"></script>
<% if(isAuthenticated){ %><script src="jquery/dist/allpolls.js"></script><% } %>
	</body>

</html>