<!DOCTYPE html>

<html>
<head>	
<% include ../partials/head %>
<link href="bootstrap/dist/css/signup.css" rel="stylesheet" type="text/css">
</head>
	
<body>
<% include ../partials/firstnav %>
<script type="text/javascript">document.getElementById("login").classList.add("gray");</script>
<% include ../partials/forml %>      

	<script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="jquery/dist/login.js"></script>
</body>

</html>