<!DOCTYPE html>

<html>
<head>	
<% include ../partials/head %>
<link href="bootstrap/dist/css/newpoll.css" rel="stylesheet" type="text/css">
</head>
	
<body>
<% include ../partials/secondnav %>
<% include ../partials/list %>    

    <script src="jquery/dist/jquery.min.js"></script>
	<script src="bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="jquery/dist/mypolls.js"></script>
</body>
</html>